<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modifier les paramètres {{ teacher.first_name }} {{ teacher.last_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>
    <body>
        <a class="return-button" href="{{ url_for('dashboard.teacher_dashboard') }}">
            <img src="{{ url_for('static', filename='svg/arrow_back.svg') }}" alt="-> Dashboard">
        </a>

        <div class="dashboard">
            <div class="island">
                <h1>Paramètres de {{ teacher.first_name }} {{ teacher.last_name }}</h1>
            </div>

            <div class="menu">
                <h2>Modifiez des paramètres</h2>

                <div class="settings">
                    <div class="disabled-message">Ces paramètres sont bloqués par l'administrateur.</div>
                    
                    <div class="setting-list">
                        <div>
                            <span>Mode sombre</span>
                            <input type="checkbox" disabled>
                        </div>
                        <div>
                            <span>Notifications</span>
                            <input type="checkbox" disabled>
                        </div>
                        <div>
                            <span>Langue</span>
                            <select disabled>
                                <option>Français</option>
                                <option>Anglais</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
