<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agenda Hebdomadaire de {{ teacher.first_name }} {{ teacher.last_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>

    <body>
        <a class="return-button" href="{{ url_for('dashboard.teacher_dashboard') }}">
            <img src="{{ url_for('static', filename='svg/arrow_back.svg') }}" alt="-> Dashboard">
        </a>

        <div class="dashboard">
            <div class="island">
                <h1>Agenda Hebdomadaire de {{ teacher.first_name }} {{ teacher.last_name }}</h1>
            </div>

            <div class="menu">
                <table class="calendar">
                    <thead>
                        <tr>
                            <th>Heure</th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>08:00 - 09:00</td>
                            <td>Maths - 6ème</td>
                            <td>Physique - 3ème</td>
                            <td>Physique - 4ème </td>
                            <td></td>
                            <td>Physique - 5ème</td>
                        </tr>
                        <tr>
                            <td>09:00 - 10:00</td>
                            <td>Physique - 3ème</td>
                            <td>Maths - 6ème</td>
                            <td></td>
                            <td>Maths - 5ème</td>
                            <td>Physique - 6ème</td>
                        </tr>
                        <tr>
                            <td>10:00 - 11:00</td>
                            <td></td>
                            <td></td>
                            <td>Maths - 4ème</td>
                            <td>Chimie - 6ème</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11:00 - 12:00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>14:00 - 15:00</td>
                            <td>Physique - 5ème</td>
                            <td></td>
                            <td>Maths - 5ème</td>
                            <td></td>
                            <td>Chimie - 6ème</td>
                        </tr>
                        <tr>
                            <td>15:00 - 16:00</td>
                            <td>Physique - 5ème</td>
                            <td></td>
                            <td>Chimie - 6ème</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>