<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modifier des notes {{ teacher.first_name }} {{ teacher.last_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>
    <body>
        <!-- Grade filter section-->
        <div class="dashboard">
            <div class="island">
                <h1>Voici les notes, {{ teacher.first_name }} {{ teacher.last_name }}</h1>
            </div>

            <div class="menu">
                <h2>Modifiez des notes</h2>

                <form action="{{ url_for('.grades') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <div class="">
                        <div>
                            <label for="subject">Subject</label>
                            <select name="subject" id="subject">
                                <option value="">-- Select Subject --</option>
                                {% for subject in subjects %}
                                    <option value="{{ subject.id }}">{{ subject['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label for="class">Class</label>
                            <select name="class" id="class">
                                <option value="">-- Select Class --</option>
                                {% for class in classes %}
                                    <option value="{{ class.id }}">{{ class['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label for="subject">Subject</label>
                            <select name="assignment" id="assignment">
                                <option value="">-- Select Assignment --</option>
                                {% for assignment in assignments %}
                                    <option value="{{ assignment.id }}">{{ assignment['type'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <button type="submit">Display</button>
                </form>

                <!-- Grade display section-->
                <form action="{{ url_for('.update_grades') }}" method="POST">
                    {% if display_table %}
                    <table>
                        <thead>
                            <th>Last name</th>
                            <th>First name</th>
                            <th class="header">{{ chosen_subject['name'] }}</th>
                            <th class="header">{{ chosen_assignment['type'] }}</th>
                        </thead>
                
                        <tbody>
                            {% for student in students %}
                                {% set grade_attributed = False %}
                                <tr>
                                    <th class="content">{{ student.last_name }}</th>
                                    <th class="content">{{ student.first_name }}</th>
                                    <th class="content">
                                        {% for grade in grades %}
                                            {% if grade.student_id == student.id and grade.subject_id == chosen_subject['id'] %}
                                                <input type="text" class="grade" placeholder="{{ grade.grade }}" maxlength="2" name="{{ student.id }}|{{ chosen_subject.id }}">
                                                {% set grade_attributed = True %}
                                            {% endif %}
                                        {% endfor %}
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit">Save</button>
                </form>
                {% endif %}
            </div>
        </div>
    </body>
</html>