<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pronote</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    </head>

    <body>
        <div class="container">
            <h1>Pronote</h1>

            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}

            <form action="/process" method="POST">
                <div class="choice-container">
                    <div class="input-container">
                        <input type="text" name="username" placeholder="Username" class="input-field" required>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" placeholder="Password" class="input-field" required>
                    </div>
                </div>
                <div class="submit-container">
                    <input type="submit" value="Login" class="submit-button">
                </div>
            </form>
        </div>
    </body>
</html>
