<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School page</title>
</head>
<body>
    <h1>Students</h1>
    <ul>
    {% for student in students %}
        <li>{{student.nom}} {{student.prenom}} :</li>
        <br>
        <ul>
            <li>Matière1 : {{student.notes_matiere1}}</li>
            <li>Matière2 : {{student.notes_matiere2}}</li>
            <li>Matière3 : {{student.notes_matiere3}}</li>
            <li>Matière4 : {{student.notes_matiere4}}</li>
            <li>Matière5 : {{student.notes_matiere5}}</li>
        </ul>
    <br>
    <p>=======================</p>
    {% endfor %}
    </ul>
</body>
</html>