<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Creation</title>
</head>

{% if error_message %}
<style>
    input {
        border: 1px solid #ff0000;
    }
    select {
        border: 1px solid #ff0000;
    }
</style>
{% endif %}

<body>
    <div>

        <form action="{{ url_for('.create_student') }}" method="POST">
            <input type="text" placeholder="First Name" name="first_name">
            <input type="text" placeholder="Last Name" name="last_name">

            <label for="class">Class</label>
            <select name="class" id="class">
                <option value="">-- Select a Class --</option>
                {% for class in classes %}
                    <option value="{{ class.id }}">{{ class['name'] }}</option>
                {% endfor %}
            </select>

            <button type="submit">Create</button>
        </form>

    </div>
</body>
</html>