<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Creation</title>
</head>

{% if error_message %}
<style>
    input {
        border: 1px solid #ff0000;
    }
    select {
        border: 1px solid #ff0000;
    }
</style>
{% endif %}

<body>

    {% if error_message %}
        <div class="error-message" style="color: red;">
            {{ error_message }}
        </div>
    {% endif %}
    
    <form action="{{ url_for('.create_user') }}" method="POST">

        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Confirm Password" name="confirm_password">

        <h3>Select a Role</h3>
        <div id="role-container">
            {% for role in roles %}
            <div class="role-item">
            <input type="radio" id="role_{{ role.name }}" name="role" value="{{ role.name }}">
            <label for="role_{{ role.name }}">{{ role['name'] }}</label>
            </div>
            {% endfor %}
        </div>

        <button type="submit">Display</button>
    </form>
</body>
</html>