<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notes de {{ student.first_name }} {{ student.last_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    </head>

    <body>
        <a class="return-button" href="{{ url_for('dashboard.student_dashboard') }}">
            <img src="{{ url_for('static', filename='svg/arrow_back.svg') }}" alt="-> Dashboard">
        </a>

        <div class="dashboard">
            <div class="island">
                <h1>Voici vos notes, {{ student.first_name }} {{ student.last_name }}</h1>
            </div>
            
            <div class="menu">
                <h2>Classe : {{ student_class.class_name }}</h2>

                <table>
                    <thead>
                        <th></th>
                        {% for assignment in assignments %}
                            <th>{{ assignment.type }}</th>
                        {% endfor %}
                    </thead>
                    
                    <tbody>
                        {% for subject in subjects %}
                            <tr>
                                <td class="subject-name">{{ subject.name }}</td>
                                {% for assignment in assignments %}
                                    <td>{{ grades[subject.id][assignment.type] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>
    </body>
</html>