/* Appliquer une marge à 0 pour éviter les espaces par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    display: flex;
    justify-content: center;  /* Centrer horizontalement */
    align-items: center;      /* Centrer verticalement */
    background-color: #f0f0f0;
  }
  
  .container {
    background-color: #ffffff;  /* Couleur de fond du carré */
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
  }

  .input-field {
    background: transparent;
    border: none;
    border-bottom: 2px solid #4dacec;
    padding: 1% 0;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
  }

