/* Appliquer une marge à 0 pour éviter les espaces par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  html, body {
    height: 100%;
    display: flex;
    justify-content: center;  /* Centrer horizontalement */
    align-items: center;      /* Centrer verticalement */
    background-image: url('/projetPronote/view/images/peakpx.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  /* L'image de fond reste fixe lors du défilement */
  }

  h1 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  
  .container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);  /* Couleur de fond du carré */
    border-radius: 5%;
    padding: 15% 5% 10% 5%;
    width: 325px;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    font-weight: bold;
  }

  .choice-container {
    height: 60%;
    padding: 5%;
  }

  .input-container {
    height: 50%;
    display: flex;
    align-items: center;
    color: white;
  }

  .input-field {
    background: transparent;
    border: none;
    border-bottom: 2px solid #e4b622;
    padding: 1% 0;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
    color: white;
    width: 100%;
  }

  .input-field:focus {
    border-bottom: 2px solid #c48220;
  }

  .submit-button {
    background: linear-gradient(90deg, orange, red);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 70px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 200px;
  }
  
  .submit-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);  /* reduire la width de base */
  }
  
  .submit-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  