<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pronote</title>
  <link rel="stylesheet" href="style/index.css">
</head>
<body>
  <div class="container">
    <h1>Welcome</h1>
    <div class="choice container">
        <div class="radio-container">
            <label class="radio-box">
            <input type="radio" name="choix" value="Enseignant">
            <span class="checkmark"></span> Enseignant
            </label>
        </div>
        <div class="radio-container">
            <label class="radio-box">
            <input type="radio" name="choix" value="Etudiant">
            <span class="checkmark"></span> Etudiant
            </label>
        </div>
    </div>
    <button class="btn-valider">Valider</button>
</div>
</body>
</html>
