<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pronote</title>
  <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <form action="/soumettre" method="POST"></form>
            <div class="choice container">
            
                <div class="input-container">
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="input-container">
                    <input type="password" name="choix" placeholder="Password">
                </div>
            </div>
            <input type="submit" value="Valider" class="btn-valider">
        </form>
    </div>
</body>
</html>