*, ::before, ::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.body-login {
  align-items: center;
  background-image: url("/static/images/login_bg.jpg");
  display: flex;
  justify-content: center;
}
.body-login .container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-around;
  padding: 50px 40px;
  text-align: center;
}
.body-login .container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body-login .container form h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  width: 100%;
}
.body-login .container form .choice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
  padding: 5%;
}
.body-login .container form .choice-container .input-container {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
}
.body-login .container form .choice-container .input-container .input-field {
  background: transparent;
  border: none;
  border-bottom: 2px solid #e4b622;
  color: white;
  font-size: 1rem;
  margin: 5px 0;
  outline: none;
  text-align: center;
  transition: border-color 0.3s ease;
  transition: width 0.3s ease;
  width: 60%;
}
.body-login .container form .choice-container .input-container .input-field:focus {
  border-bottom: 2px solid #c48220;
  width: 100%;
}
.body-login .container form .submit-container .submit-button {
  background: linear-gradient(90deg, orange, red);
  border-radius: 70px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 24px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 200px;
}
.body-login .container form .submit-container .submit-button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.body-login .container form .submit-container .submit-button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

.return-button {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  height: 65px;
  justify-content: center;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 65px;
}
.return-button img {
  height: 80%;
  transition: transform 0.1s ease-in;
  width: 80%;
}
.return-button img:hover {
  transform: scale(1.05);
}

.dashboard {
  align-items: center;
  background-image: url("/static/images/login_bg.jpg");
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5vh;
  width: 100%;
}
.dashboard .island {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: white;
  margin: 20px 0;
  padding: 25px;
}
.dashboard .island h1 {
  font-size: 4rem;
  text-align: center;
}
.dashboard .island h2 {
  font-size: 2rem;
}
.dashboard .menu {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: white;
  padding: 25px;
  width: 75%;
}
.dashboard .menu .menu-part {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 50px 0;
  width: 100%;
}
.dashboard .menu .menu-part a {
  border-radius: 7.5px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-decoration: none;
  width: 20%;
}
.dashboard .menu .menu-part a button {
  align-items: center;
  background: linear-gradient(90deg, orange, red);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 50px;
  transition: transform 0.1s ease-in;
  width: 100%;
}
.dashboard .menu .menu-part a button h3 {
  color: white;
  font-size: 1.25rem;
}
.dashboard .menu .menu-part a button:hover {
  transform: scale(1.05);
}
.dashboard .menu h2 {
  margin: auto;
  text-align: center;
  width: 60%;
}
.dashboard .menu table {
  border-radius: 15px;
  margin: auto;
  width: 60%;
}
.dashboard .menu table thead {
  font-size: 2rem;
}
.dashboard .menu table tbody {
  font-size: 1.5rem;
  text-align: center;
}
.dashboard .menu table tbody td {
  border-top: solid 2px white;
}
.dashboard .menu table tbody .subject-name {
  text-align: left;
}
.dashboard .menu form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 0 50px;
}
.dashboard .menu form div {
  display: flex;
  justify-content: space-between;
}
.dashboard .menu form div div {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  width: 33%;
}
.dashboard .menu form div div label {
  font-size: 1.25rem;
  text-align: center;
  margin: 10px 0;
}
.dashboard .menu form div div select {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 5px;
}
.dashboard .menu form div div select option {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.dashboard .menu form button {
  background: linear-gradient(90deg, orange, red);
  border-radius: 70px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
  margin-top: 120px;
  padding: 12px 24px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 200px;
}
.dashboard .menu form button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.dashboard .menu form button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}
.dashboard .menu form table {
  margin: 50px 0;
  width: 100%;
}
.dashboard .menu form table thead th {
  font-size: 1.5rem;
}
.dashboard .menu form table tbody tr th {
  font-size: 1.25rem;
  font-weight: 400;
}
.dashboard .menu form #save-button {
  margin-top: 20px;
}
.dashboard .menu-admin {
  width: 50%;
}
.dashboard .menu-admin .menu-part a {
  width: 40%;
}

/*# sourceMappingURL=style.css.map */
