<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <title>Login</title>
    </head>
    
    <body class="body-login">
        <div class="container">
            <form form method="POST" action="{{ url_for('auth.login') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <h1>Academis</h1>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul style="list-style-type: none;">
                            {% for category, message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="choice-container">
                    <div class="input-container">
                        <input type="text" id="username" name="username" placeholder="Username" class="input-field" required>
                    </div>
                    <div class="input-container">
                        <input type="password" id="password" name="password" placeholder="Password" class="input-field" required>
                    </div>
                </div>
                <div class="submit-container">
                    <input type="submit" value="Login" class="submit-button">
                </div>
            </form>
        </div>
    </body>
</html>
